body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.page-container {
  padding: 8px 30px;
}

li {
  font-size: 15px;
}
h1 {
  font-family: "Sora", sans-serif;
}
