body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #f9f9ff;
}

.page-container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .page-container {
    padding-inline: 24px;
  }
}

@media (min-width: 1024px) {
  .page-container {
    padding-inline: 30px;
  }
}

li {
  font-size: 15px;
}

h1 {
  font-family: "Sora", sans-serif;
}
